<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <div style="text-align: center;">
        <img src="<%= asset_path('academic2.png') %>" alt="Image">
    </div>
    <p>
        This is a simple web application built with Ruby on Rails. It demonstrates how to create a basic website with multiple pages and a shared layout. The application includes pages for learning about Ruby on Rails, fuzzing, and other topics related to software development and cybersecurity.
    </p>
    </p>
    
    <h2>Features</h2>
    <ul>
        <li>Home page with information about the web application</li>
        <li>Pages for learning about Ruby on Rails, fuzzing, and other topics</li>
        <li>Shared layout with a sidebar for easy navigation</li>
        <li>Responsive design for mobile and desktop devices</li>
    </ul>
</body>
</html>