<!-- app/views/layouts/_sidebar.html.erb -->

<div class="sidebar">
    <%= link_to 'Home', welcome_page_path %>
    <%= link_to 'Ruby on Rails', ror_page_path %>
    <%= link_to 'Fuzzing', fuzzing_page_path %>
    <%= link_to 'About', about_page_path %>
</div>